body{
	font-family: Arial, sans-serif;
	background-color: #f0f4f8;
	display: flex;
	justify-content: center;
	padding: 50px;
}

.column1{
	display: flex;
}

.box1{
	background-color: #f9fbfd;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 350px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	font-family: Arial, sans-serif;
	text-align: center;

}

.box1 > img{
	border-radius: 50%;
	display: inline-block;
	width: 50%;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}

.box2{
	background-color: white;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	width: 600px;
}


.inbox{
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.label {
	font-weight: 600;
	font-size: 18px;
	color: #333;
}

.value {
 	color: #555;
 	font-weight: 500;
 	font-size: 15px;
 	
}
